services:
  php:
    build: ./docker/image/php
    volumes:
      - webroot:/var/www/public_html
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      PHP_IDE_CONFIG: "serverName=todo_app"
    depends_on:
      - db

  webserver:
    build: ./docker/image/nginx
    volumes:
      - webroot:/var/www/public_html
      - ./docker/image/nginx/vhost.conf:/etc/nginx/conf.d/default.conf
    ports:
      - '80:80'
    depends_on:
      - php
      - db

  db:
    image: mysql
    volumes:
      - db-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - '3306:3306'
volumes:
  webroot:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./app
  db-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./data